.modal-progress {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0 0 0 0;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-modal-content {
  position: absolute;
  left: 10%;
  top: 10%;
  color: var(--primary-white);
}

.progress-modal-content h2,
.progress-modal-content h3 {
  font-size: 12vh;
}

.progress-modal-content h3 {
  font-size: 5vh;
}

.progress-section {
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: var(--primary-color);
}

.top-left {
  top: 0;
  left: 0;
}
.top-right {
  top: 0;
  right: 0;
}
.bottom-left {
  bottom: 0;
  left: 0;
}
.bottom-right {
  bottom: 0;
  right: 0;
}

.loading-text {
  color: var(--primary-white);
  font-size: 4rem;
  z-index: 1;
}
