@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import "./loadingScreen.css";
@import "./modals.css";
@import "./characterControllers.css";
@import "./menuActionButtons.css";
@import "./toastNotification.css";
@import "./progressModal.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-black: #000000;
  --primary-white: #ffffff;
  --primary-color: rgb(255, 56, 86);
  --primary-font: "Roboto", sans-serif;
  --border-radius-1: 5px;
  --border-radius-2: 10px;
  --border-radius-3: 15px;
  --border-radius-4: 20px;
  --border-radius-50: 50%;
  --border-radius-100: 100%;
}
html,
body {
  overflow: hidden;
  font-family: var(--primary-font);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.btn {
  display: block;
  border: none;
  width: 200px;
  height: 70px;
  cursor: pointer;
}

.btn-primary {
  border-radius: var(--border-radius-2);
  border: 0;
  background-color: var(--primary-color);
  letter-spacing: 1.5px;
  font-size: 15px;
  -webkit-box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
  box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
}

.btn-primary:hover {
  -webkit-box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
  transition: box-shadow 0.1s linear;
}

.btn-primary:active {
  background-color: var(--primary-color);
  /*50, 168, 80*/
  -webkit-box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transition: box-shadow 0.1s linear;
}

/*  PROGRESS SLIDER */

.slider-container {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 50px;
  background: #333;
  z-index: 100;
}

#progressSlider {
  width: 600px;
  margin-left: 16px;
  margin-right: 16px;
}

.button-gsap-animation {
  border-radius: var(--border-radius-2);
  background: #ffc34c;
  color: #444;
  font-size: 14px;
  margin: 10px;
  font-weight: 700;
  width: 5em;
}

#time {
  color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-info,
.tower-button-info {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  z-index: 100;
  display: none;
  opacity: 0;
}

.key-container {
  max-width: 300px;
  margin: 0 auto;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  text-align: center;
  font-weight: 400;
}

.key {
  width: 100%;
  height: 100%;
  min-width: 50px;
  min-height: 50px;
  margin: 4px;
  color: var(--primary-white);
  background: var(--primary-color);
  border-radius: var(--border-radius-2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 0.5rem;
}

.up {
  grid-area: 1 / 3 / 1 / 3;
}
.left {
  grid-area: 2 / 2;
}
.right {
  grid-area: 2 / 4;
}
.down {
  grid-area: 2 / 3;
}

.space {
  grid-area: 1 / 1 / 3 / 1;
  width: 80px;
}
.enter {
  grid-area: 1 / 5 / 3 / 5;
  width: 80px;
}

.tower-button-info .enter {
  width: 200px;
  margin: 0 auto;
}

.key span {
  font-size: 0.6rem;
  font-weight: 700;
}
.key span:first-child {
  margin-bottom: 0.2rem;
}
.key span:last-child {
  margin-top: 0.2rem;
}
