.my-progress-modal {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 100;
  padding: 1rem;
  padding-top: 5rem;
  overflow: auto;
}

.experience-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
  gap: 1rem;

  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.experience-pill {
  background: var(--primary-white);
  border: 2px solid var(--primary-color);
  padding: 0.3rem 0.7rem;
  border-radius: var(--border-radius-3);
  opacity: 0.2;
  width: fit-content;
  background: var(--primary-color);
  color: var(--primary-white);
  opacity: 1;
}
.experience-earned {
  font-size: 14px;
}

.experience-total {
  font-size: 14px;
  background: var(--primary-white);
  color: var(--primary-color);
  border: none;
}

.progress-badges-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.single-badge {
  width: 100%;
  max-width: 500px;
  background: var(--primary-white);
  border-radius: var(--border-radius-3);
  padding: 1rem;
  position: relative;
  opacity: 0.7;
}

.badge-collected {
  opacity: 1;
}

.single-badge__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.single-badge__top-title {
  font-size: 1.25rem;
  font-weight: 700px;
  text-transform: capitalize;
  margin-bottom: 0.2rem;
}
.single-badge__top-experience {
  opacity: 0.2;
}

.badge-collected .single-badge__top-experience {
  background: var(--primary-color);
  color: var(--primary-white);
  opacity: 1;
}

.single-badge__progress {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.progress-container {
  height: 30px;
  width: 100%;

  background: var(--primary-white);
  position: relative;
  border-radius: var(--border-radius-4);
  border: 2px solid var(--primary-color);
  overflow: hidden;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--primary-color);
}

.my-progress-modal__buttons-wrapper-btn {
  display: block;
  margin: 2rem auto;
  border: none;
  background: var(--primary-black);
  color: var(--primary-white);
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.my-progress-modal__buttons-wrapper-btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30px;
  right: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* @media screen and (min-width: 678px) {
  .experience-wrapper {
    flex-direction: row;
    gap: 0;
  }
  .experience-pill {
    order: unset;
  }
} */
