@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-black: #0f0e17;
  --primary-white: #ffffff;
  --primary-white-1: #eeeeee;
  --primary-white-2: #f0f0f0;
  --primary-color: rgb(255, 56, 86);
  --primary-font: "Roboto", sans-serif;
  --border-radius-1: 5px;
  --border-radius-2: 10px;
  --border-radius-3: 15px;
  --border-radius-4: 20px;
  --border-radius-50: 50%;
  --border-radius-100: 100%;

  --backgroundColor: #fefefe;
  --navColor: #a7a9be;
  --TitleColor: #0f0e17;
  --darkColor: #0f0e17;
  --lightColor: #fefefe;
  --mainColor: #0f0e17;
  --closeBtn1: #0f0e17;
  --closeBtn2: #fefefe;
  --projectColor1: #3a4454;
  --projectColor2: #d3d4d9;

  /* More Colores */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts */
  --headingFont: "Spectral", serif;
  --bodyFont: "Karla", serif;
  --smallText: 0.7em;
  /* rest of the vars */

  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  /* box shadow */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

html,
body {
  font-family: var(--primary-font);
  background: var(--primary-black);
  font-weight: 400;
  overflow: hidden;
}

.loading-overlay {
  position: absolute;
  z-index: 40;
  width: 100%;
  height: 100%;
  background: var(--primary-black);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.header {
  width: 100%;
  position: absolute;
  z-index: 30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.go-back-btn {
  width: 40px;
  height: 40px;
  background-color: var(--primary-white-1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--primary-black);
  font-family: var(--primary-font);
  font-style: 1rem;
  font-weight: 400;
}

.content__title {
  color: var(--primary-white-1);
  font-size: clamp(2rem, 5vw, 2vw);
}

footer {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
}

footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
}
footer p {
  color: var(--primary-white-1);
  font-size: clamp(1.5rem, 2vw, 4rem);
}
.social-link {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.social-link i {
  width: 30px;
  height: 30px;

  align-items: center;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-white-1);
  color: var(--primary-black);

  font-size: 1rem;
  border-radius: 50%;
  transition: var(--transition-1);
  border: 2px solid var(--primary-white-1);
}

.social-link i:hover:hover {
  background: var(--primary-black);
  color: var(--primary-white-1);
}

@media screen and (min-width: 960px) {
  .social-link i {
    width: 50px;
    height: 50px;
    font-size: 2rem;
  }
}
