.toast-wrapper {
  width: 90%;
  max-width: 600px;
  position: fixed;

  z-index: 100;
}

.toast-content {
  background: var(--primary-color);
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border-radius: 14px;
  color: white;
}

#tower-toast {
  background: rgba(255, 166, 0, 0.8);
}
#explore-toast {
  background: rgba(34, 139, 34, 0.8);
}

.toast-img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.toast-img-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.toast-description {
  width: calc(100% - 50px);
}

.toast-description__title {
  font-size: 1.25rem;
  margin-bottom: 0.2rem;
}
