.toast-wrapper {
  width: 90%;
  max-width: 600px;
  position: fixed;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border-radius: 14px;
  z-index: 100;
}

.toast-img {
  height: 100%;
  object-fit: contain;
  max-height: 50px;
}
